{% extends "base.html" %}

{% block content %}
  {% if articles %}
    {% for article in articles_page.object_list %}

      {# First item #}
      {% if loop.first and not articles_page.has_previous() %}
          <aside id="featured" class="body">
              <article>
                  <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                  {% include 'article_infos.html' %}{{ article.content }}
              </article>
          </aside><!-- /#featured -->
          {% if loop.length > 1 %}
              <section id="content" class="body">
                  <h1>Other articles</h1>
                  <hr />
                  <ol id="posts-list" class="hfeed">
          {% endif %}
      {# other items #}
      {% else %}
          {% if loop.first %}
              <section id="content" class="body">
                  <ol id="posts-list" class="hfeed" start="{{ articles_paginator.per_page -1 }}">
          {% endif %}
          <li><article class="hentry">
              <header>
                  <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
              </header>

              <div class="entry-content">
              {% include 'article_infos.html' %}
              {{ article.summary }}
              <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
              </div><!-- /.entry-content -->
          </article></li>
      {% endif %}
      {% if loop.last %}
          {% if loop.length > 1 or articles_page.has_other_pages() %}
              </ol><!-- /#posts-list -->
              {% if articles_page.has_other_pages() %}
                  {% include 'pagination.html' %}
              {% endif %}
              </section><!-- /#content -->
          {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  <section>
    {# <h2>Pages</h2>
      {% for page in PAGES %}
          <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    #}
    

    <h3 class="item-title">TenantBase</h3>
    <p class="item-subtitle">Co-founder and CTO</p>
    <p>Present</p>


    <h3 class="item-title">Google</h3>
    <p class="item-subtitle">Software Engineer</p>
    <p>July 2011 to January 2013 – Seattle, Washington</p>
    <p>• Worked on Google+ photo editor and its integration with the Google+ Javascript frontend.</p>
    <p>• Later responsible for the data collection pipeline of an internal advertising tool, processing over 50TB of data per run. Designed several algorithms to extract features from the data.</p>
    <p>Tools: Java, Javascript with Closure, C++/STL</p>

    <h3 class="item-title">Real Time Farms</h3>
    <p class="item-subtitle">Software Engineering Intern</p>
    <p>May 2010 to September 2010 – Ann Arbor, Michigan</p>
    <p>One of four people, as the startup moved from concept to paying customers. App Engine development was my primary responsibility with graphic design and other intern-y tasks thrown in.</p>
    <p>Tools: Google App Engine with Python, HTML/CSS, Javascript/jQuery, Photoshop, Web scraping, Security auditing</p>

    <h3 class="item-title">W.K. Kellogg Foundation</h3>
    <p class="item-subtitle">Software Development Contractor</p>
    <p>April 2009 to July 2009 – Ann Arbor, Michigan</p>
    <p>Created a web application to connect former inmates with potential employers and job training opportunities. Technical challenges included creating a scalable interface between Django and an externally developed Java simulation of a person’s job prospects.</p>
    <p>Tools: Python with Django, HTML/CSS, Javascript with jQuery, Java, Jython, Mercurial, Amazon EC2, Facebook and YouTube integration, AMPQ/Rabbit MQ, Automated deployment</p>

    <h3 class="item-title">CrowdClarity</h3>
    <p class="item-subtitle">Software Engineer</p>
    <p>2008 to 2009 – Ann Arbor, Michigan</p>
    <p>A prediction market startup formed by friends. Totally overhauled the slow Python codebase and drastically improved website performance. Improved the UI by conducting customer test sessions.</p>
    <p>Tools: Python with Django, SQL, HTML/CSS, Javascript with jQuery, Javascript graphing via Canvas API, Git, Subversion, Prediction markets</p>

    <h3 class="item-title">Quantum Signal, LLC</h3>
    <p class="item-subtitle">Software Engineering Intern</p>
    <p>May 2007 to August 2007 – Ann Arbor, Michigan</p>
    <p>Added image analysis features to C# image processing software and optimized the C++ backend. I also began porting a Windows server running an autonomous robot to Linux.</p>
    <p>Tools: C, C++ and the STL, C# and .NET, Mercurial, Subversion, Computer vision</p>

  </section>

  <br>
  <br>
  <br>
{% endblock content %}













