$font-family-base:     "comenia-sans-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-base:       16px;

@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


body {
  background: #F5F4EF;
}

.header {
  margin-bottom: 66px;
}

.header-title {
  font-size: 60px;
}

.item-title {
  margin-top: 45px;
  margin-bottom: 6px;
}

.item-subtitle,
.item-location {
  color: $gray;
}

.item-location {
  font-size: 14px;
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.item-popout-col {
  color: $gray;

  @media (min-width: $screen-sm-min) {
    position: relative;
    height: 0;  // Assumes overflow is visible.
    margin: 0;
    text-align: right;

    right: 125px;
    width: 100px;
  }
  @media (min-width: $screen-md-min) {
    right: 292px;
    width: 242px;
  }
}


//
// Utility classes.
//
.arrow {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

